.body-grid{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    max-width: 140rem;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(100,100,112,0.4);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.4);
    box-shadow: 0px 5px 5px 0px rgba(249, 9, 9, 0.353);
    padding: 1 1 1 1rem;
    border-radius: .5rem;
}

.grid-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 40px;
}

.grid-container div {
    margin: auto;
}

.all{
    margin-left: 1rem;
}

.options-container{
    margin-bottom: 2rem;
    margin-top: 50px;
    margin-left: 10px;
}

.options-container button{
    cursor: pointer;
	outline: inherit;
    border: none;
	padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.selected{
    border-bottom: 3px solid rgb(255, 0, 0) !important;
}
